modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 25094
externalPort = 3000

[userenv]

[userenv.shared]
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_bWVhc3VyZWQtbW9jY2FzaW4tODEuY2xlcmsuYWNjb3VudHMuZGV2JA"

[userenv.development]
JWT_PRIVATE_KEY_PEM = """
-----BEGIN PRIVATE KEY-----
  MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDZT4u0TL8/zRBZ
  GDQx3dhkMsTjQLORHORmu4Kv0ojuIO7iFcgHVttJSLSljZcaMGR7w8yc96MCjNk7
  5QFXYyeyf8QsIcKjPAtyOYcnW3rh/fsiHNgBMYu/zRBKul53B73UoQQFDjP22pdC
  TAoVQCkVeCvNVgCzlJh/CDLZTCgkhlxWIkS3dBkYny6SWnfoax92a5VpbWoFM8X7
  l3RxWbMP2qG9HaqT2Ybzf7pflv66FEVYkHqNd8PS8QRSkstBRHe776FRbJzmoy56
  XT4AICz1UGbxwJgtoRjhKKZKwdjW6oPdShvhy8081Eohla6YTLPrR7ltAjKRTsCU
  GXbMTAM/AgMBAAECggEABJ7h4BQPrvobwmE23uaSLtM7h399MfU00BBln3pxCesu
  WSVQawOIRx8iJDEGCPsFb/JCXAYR88Bt8A2XATYtBmkcETooitMAhU2+13HlA4Ak
  gl2tpBzbFVl1Yrliv9Is0aQY00ixhyqvs6utPTVvijLTb5rICgl7UpwohKFPazNc
  JHS/bJFv2DpkMPtKBxYXnpgqxZOeBW3kmeHheCKToL4W9T3GR7VrlGCXFBfeAKNs
  yaOhrXo++Y9zr1PD4Fy8ZL6zVs4cCdAh1QCfzmnpgcrmvHKnd+NdAe/blCNj5/OQ
  1SDEMe5ZGTAiY0PXErdPvtgtOsbSzNCS4CBNNYnjJQKBgQDs7WkzaxAqlNcwQczA
  LVEQXAV/vOOLw750wFKGPmjyAvwCPoB0Z/jQ1B4oHLmtKQqOrxJVORjWPBBvI7/2
  TH4cI50U18aYdf7QJfHmdGNQW2VacwyylCnGn69hHoz/ovUI4I3C2rc4Lt/JERRk
  yxLaN6SGcQVbdaGUICR2tinzHQKBgQDqzeAgw41IUZXDdXue3GxSxBgf0zra2Tfz
  2zE1ecCS4WHY19rAJAiGBxmoLkyJmNvkNdyyxCwkGFCCTSUYuMXZ/baQPX4uVxM1
  +w1ozsB1aRFwXntUXm8qVePpOf2LJ79TXLTBnUFm78is5depaZWe4sX/pVvN5bBa
  hwfE3osFCwKBgC5obnPQ49DDaMceDGIUPk2rCLS1pgiJZfPue/upm9rTtNMntPeY
  KgeVlPaccc42PMgoCLpCvdew2jM62G4BG66dVzZu8YqJikjxNcnDQHTMAjVOVc1g
  8jHis3KdjlbAb6i2e24Qc1UA8Xqr6se3c1DlF0fyOW9pwiWGij3qfpsNAoGATIVX
  m5XfP0hHVHG/HeCb9MUvT3/ZWGUeFPzEJrdNCREmgDKoeaHEnVlHBUZBbz4/uznK
  eP/xmrnJ0w0tH8dnw0kp7Av+ST/bZOYyUou+sQTSyBoiezZjaBqhsepSNL15XsOB
  rO+A1vkiHyawh+d++U7SVCQhrRJDzNzgrUoRaE0CgYEA6+a/+F3BjQDKpU40m1Pr
  rNueZfMe+Cc38yr6K78yb6Uap1QtRvWq1tcB4bcgYq7fkMqRJDqaBrlJK1/6ya3R
  7KP30/Y5Opf3ZrmCy9k7j4xycgnw2qncO7mNzX8dnqSfKLlf0HNhare1p2HKHNNt
  lb6mttvUjb/9fy34vyUHNTM=
  -----END PRIVATE KEY-----"""
JWT_PUBLIC_KEY_PEM = """
-----BEGIN PUBLIC KEY-----
  MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2U+LtEy/P80QWRg0Md3Y
  ZDLE40CzkRzkZruCr9KI7iDu4hXIB1bbSUi0pY2XGjBke8PMnPejAozZO+UBV2Mn
  sn/ELCHCozwLcjmHJ1t64f37IhzYATGLv80QSrpedwe91KEEBQ4z9tqXQkwKFUAp
  FXgrzVYAs5SYfwgy2UwoJIZcViJEt3QZGJ8uklp36GsfdmuVaW1qBTPF+5d0cVmz
  D9qhvR2qk9mG83+6X5b+uhRFWJB6jXfD0vEEUpLLQUR3u++hUWyc5qMuel0+ACAs
  9VBm8cCYLaEY4SimSsHY1uqD3Uob4cvNPNRKIZWumEyz60e5bQIykU7AlBl2zEwD
  PwIDAQAB
  -----END PUBLIC KEY-----"""
JWT_KID = "kid_d13f626573e6"
NULLIFIER_MASTER_SECRET = "6ed6ace327dc04a9f96094ff7d151409de707eaf5a04f906f968e5d035239141"

[nix]
channel = "stable-25_05"
